@media screen and (max-width:1023px) {
body{
  background-color: none;
  margin: 0;
  padding: 0;


}
#all {
  height: auto;
  width: 100%;
}
.cabe {
  width: 100%;
  height: 50px;
  background-color: rgb(81, 190, 202);
}
#titl {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;

  color: rgb(255, 255, 255);
  position: absolute;
  right: 30%;
  top: 10px;



}
#logo {
  height: 50px;
  width: auto;
  position: absolute;
  right: 0;
}


#text {
  font-family: Caviar Dreams;
  font-size: 3em;

  color: rgb(255, 255, 255);
}




.ven {
  width: 100%;
  height: 500px;
  margin: 0px;
  position: absolute;
  left: 0 auto;
  float: right;
  background-image: url(img/ver.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
 margin: 0 auto;
  overflow: hidden;
  opacity: 0.9;
  z-index: 1;
  margin-top: 20px
}
#docu {
  width: 0%;
  height:500px;
  background-color: none;
  float: right;
  position: absolute;
  top: 550px;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  display: none;


}

.text {

font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: rgb(83, 45, 58);

}
.apartado {
font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  color: black;

}
.exp {
  font-family: Minion Pro;
  font-size: 1em;
  color: black;
  text-align: justify;



}
#epocas {
  width: 100%;
  height: 1500px;

}
#època {
  width: 80%;
  height: 500px;
  float: left;
  margin-top: 100px;
background-color: none;
position: absolute;
top: 550px;
margin-top: 100px;
margin-left: 10%;
margin-right: 10%;
}
#època2 {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 1200px;
margin-top: 50px;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/maria.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;
}
#fiestas {
  width: 100%;
  height: 1500px;

}
#fiesta {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 1700px;
margin-top: 100px;
margin-left: 10%;
margin-right: 10%;
}

#fiesta2 {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 2400px;
left: 0;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/ca.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;

}

#tradicions {
  width: 100%;
  height: 1500px;
}
#tradicio {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 2900px;
margin-left: 10%;
margin-right: 10%;

}

#tradicio2 {
  width: 80%;
  height: 500px;
background-color: none;
position: absolute;
top: 3600px;
left: 0;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/academia.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;

}



#museos {
  width: 100%;
  height: 1500px;
}
#museo {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 4100px;
margin-left: 10%;
margin-right: 10%;

}

#museo2 {
  width: 80%;
  height: 500px;
background-color: none;
position: absolute;
top: 4700px;
left: 0;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/correr.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;

}



#canales{
  width: 100%;
  height: 1500px;
}
#canal {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 5250px;
margin-left: 10%;
margin-right: 10%;

}

#canal2 {
  width: 80%;
  height: 500px;
background-color: none;
position: absolute;
top: 5750px;
left: 0;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/canal.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;

}




#plazas{
  width: 100%;
  height: 1500px;
}
#plaza {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 6300px;
margin-left: 10%;
margin-right: 10%;

}

#plaza2 {
  width: 80%;
  height: 500px;
background-color: none;
position: absolute;
top: 6850px;
left: 0;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/plaza.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;

}


#basilicas{
  width: 100%;
  height: 1500px;
}
#basilica {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 7400px;
margin-left: 10%;
margin-right: 10%;

}

#basilica2 {
  width: 80%;
  height: 500px;
background-color: none;
position: absolute;
top: 8020px;
left: 0;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/basilica.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;

}



#palacios{
  width: 100%;
  height: 1500px;
}
#palacio {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 8600px;
margin-left: 10%;
margin-right: 10%;

}

#palacio2 {
  width: 80%;
  height: 500px;
background-color: none;
position: absolute;
top: 9200px;
left: 0;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/palau.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;

}




#campanas{
  width: 100%;
  height: 1500px;
}
#campana {
  width: 80%;
  height: 500px;
  float: left;
background-color: none;
position: absolute;
top: 9750px;
margin-left: 10%;
margin-right: 10%;

}

#campana2 {
  width: 80%;
  height: 500px;
background-color: none;
position: absolute;
top: 10450px;
left: 0;
margin-left: 10%;
margin-right: 10%;
background-image: url(img/campana.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;

}




































#fin {
  width: 100%;
  background-color: rgb(81, 190, 202);
  height: 50px;
position: absolute;
  top: 11050px;
}
#up {
  width: 50px;
  height: 50px;
  position: fixed;
    bottom: 0;
    left: 0;
  }
#up2 {
  width: 50px;
  height: 50px;

}

#pagp {
  font-family: Caviar Dreams;
  font-size: 2em;

  color: rgb(255, 255, 255);
  position: absolute;
  right: 30%;
  top: 10px;

}




































#nav{
  width: 150px;
  height: 300px;
}

.checkbox{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.checkbox:checked ~ #minu {
  left: 0;
  position: fixed;
  transition: 0.5s;
  background-color: white;
  z-index: 2;
}


#desple{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  left: 5px;

}

#desple li{
  list-style-type: none;
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
}

#minu{

  width: 130px;
  height: 130px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  position: absolute;
  top: 50px;
  left: -100%;
  transition: 0.5s;
  text-align: justify;
}

#minu li{
  list-style-type: none;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  font-family: Caviar Dreams;
}
}
